@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex flex-col justify-center items-center border border-1 border-black" style="height: 90vh;">
    <!-- dark mode -->
    <form asp-action="Resolve" asp-controller="Home" class="animate__animated animate__bounceInDown max-w-2xl mx-auto sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md text-gray-100 rounded-3xl">
            <!-- card header -->
            <div class="px-6 py-4 bg-gray-800 font-bold uppercase">
                What is Lorem Ipsum?
            </div>
    
            <!-- card body -->
            <div class="p-6 bg-gray-800 border-b border-gray-600">
                <input class="w-full h-12 px-4 mb-2 text-lg text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline" type="number" required placeholder="Credit Card Number"/> 
               
            </div>
    
            <!-- card footer -->
            <div class="p-6 bg-gray-800 text-right">
                <!-- button link -->
                <input type="submit" class="bg-blue-500 shadow-md text-sm text-white font-bold py-3 md:px-8 px-4 hover:bg-blue-400 rounded uppercase" 
                       value="Validate">
            </div>
        </div>
    </form>
</div>

